/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
 
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  margin:0;
}

/* Header */
header {
  background: #5D5C61;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

/* Container */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background: #5D5C61;
  color: white;
  margin-top: 20px;
}

/* Side Menu */
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.side-menu a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}
.side-menu a:hover {
  background-color: #575757;
}
.side-menu .close-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

/* Menu Button */
#menu-btn {
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 15px;
  color: #333;
  background-color: #f4f4f9;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.novel_line{
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-style: italic;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #4f4e4e;
  font-style: italic;

}
.novel_introduction{
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  background-color: white;
  color: #4f4e4e;

}
p{
  margin-bottom: 30px;

}